li.media.item-row.chat-question-group-thread(data-latest-message=latestMessage, data-id=id, class=read ? 'read' : 'unread', data-thread-title=threadTitle, data-question-group-title=groupTitle, data-question-group-image-url=groupImageUrl)
  img.d-flex.mr-3(src=imageUrl)
  .media-body
    h5.mt-0.mb-1
      =title
    small
      =latestMessageFormatted
    small.new-text
      |Uusi