li.media.item-row.chat-thread(data-latest-message=latestMessage, data-id=id, class=read ? 'read' : 'unread',data-thread-image=imageUrl, data-thread-title=title)
  img.d-flex.mr-3(src=imageUrl)
  .media-body
    h5.mt-0.mb-1
      =title
    small
      =latestMessageFormatted
    small.new-text
      |Uusi