h3.contract-detail-header
  =contract.itemGroup.name
.contract-details-content
  .details-container
    .contract-details-parties
      h3 Osapuolet
      .row
        .col
          b Viljelijä
          br
          span
            =contract.contact.companyName
        .col
          b Yhtiö
          br
          span Pakkasmarja Oy
    .contract-details-section
      if activePrices.length > 0
        h3 Takuuhinnat
        p Takuuhinta jonka yhtiö maksaa viljelijälle
        each activePrice in activePrices
          .row.prices-row
            .col-7
              p
                b
                  =activePrice.group
            .col
              p
                b
                  =activePrice.price +' €'+activePrice.unit
        if pastPrices.length > 0
          p
            a.past-prices-btn(href='#', data-past-prices=JSON.stringify(pastPrices))
              i.fa.fa-info-circle
              | edellisten vuosien hinnat
        p
          b BONUS:
          | Sopimusmärään ylittävä määrä, mahdollinen bonus ja maksuehto neuvotellaan aina erikseen.
        p Kaikki hinnat ovat vähimmäishintoja ja ALV 0%. Toimitusehto on vapaasti yhtiön osoittaman pakastevaraston laiturilla (viljelijä maksaa rahdin). Yhtiöllä on oikeus markkinatilanteen vaatiessa korottaa hintoja haluamallaan tavalla.
        p Takuuhinta on viljely- ja ostosopimuksen mukainen.
    .contract-details-section
      h3 Määrä
      p Pakkasmarja Oy:n ja viljelijän sopimus pakastukseen toimitettavista marjoista ja niiden hinnoista satokaudella 2018
      .form-group
        label(for='contractAmountInput') Määrä
        input#contractAmountInput.form-control(type='number', value=contract.contractQuantity)
    .contract-details-section
      h3 Toimituspaikka
      select#contractDeliveryPlaceInput.form-control
        each deliveryPlace in deliveryPlaces
          option(value=deliveryPlace.id, selected=contract.deliveryPlaceId===deliveryPlace.id)
            =deliveryPlace.name
    .contract-footer-section
      .row
        .col
          button.btn.btn-default.deny-btn EN HYVÄKSY
        .col
          button.btn.btn-default.accept-btn(data-contract=JSON.stringify(contract)) HYVÄKSYN
      a.contract-back-btn(href='#') Takaisin
