h3.contract-detail-header
  =contract.itemGroup.displayName || contract.itemGroup.name
.contract-details-content
  .details-container
    .contract-details-parties
      h3 Osapuolet
      .row
        .col
          b Viljelijä
          br
          span
            =contract.contact.companyName
        .col
          b Yhtiö
          br
          span Pakkasmarja Oy
    .contract-details-section
      if activePrices.length > 0
        h3 Takuuhinnat
        p Takuuhinta jonka yhtiö maksaa viljelijälle
        each activePrice in activePrices
          .row.prices-row
            .col-7
              p
                b
                  =activePrice.group
            .col
              p
                b
                  =activePrice.price +' '+activePrice.unit
        if pastPrices.length > 0
          p
            a.past-prices-btn(href='#', data-past-prices=JSON.stringify(pastPrices))
              i.fa.fa-info-circle
              | edellisten vuosien hinnat
        p
          b BONUS:
          | Sopimusmärään ylittävä määrä, mahdollinen bonus ja maksuehto neuvotellaan aina erikseen.
        p Kaikki hinnat ovat vähimmäishintoja ja ALV 0%. Toimitusehto on vapaasti yhtiön osoittaman pakastevaraston laiturilla (viljelijä maksaa rahdin). Yhtiöllä on oikeus markkinatilanteen vaatiessa korottaa hintoja haluamallaan tavalla.
        p Takuuhinta on viljely- ja ostosopimuksen mukainen.
    .contract-details-section
      h3 Määrä
      p Pakkasmarja Oy:n ja viljelijän sopimus pakastukseen toimitettavista marjoista ja niiden hinnoista satokaudella #{(new Date()).getFullYear()}
      .form-group
        label(for='contractAmountInput') Määrä
        input#contractAmountInput.form-control(type='number', value=contract.proposedQuantity, data-contract-quantity=contract.contractQuantity)
      .form-group
        p 
          |Pakkasmarjan ehdotus: 
          b 
            =contract.contractQuantity + ' kg'
      .form-group
        label(for='contractQuantityCommentInput') Kommentti
        textarea#contractQuantityCommentInput.form-control(rows='3')
          =contract.quantityComment
    .contract-details-section
      h3 Toimituspaikka
      select#contractDeliveryPlaceInput.form-control(data-contract-delivery-place-id=contract.deliveryPlaceId)
        each deliveryPlace in deliveryPlaces
          option(value=deliveryPlace.id, selected=contract.proposedDeliveryPlaceId===deliveryPlace.id)
            =deliveryPlace.name
      .form-group
        br
        p 
          |Pakkasmarjan ehdotus: 
          each deliveryPlace in deliveryPlaces
            if deliveryPlace.id===contract.deliveryPlaceId
              b
                =deliveryPlace.name
      .form-group
        label(for='contractDeliveryPlaceCommentInput') Kommentti
        textarea#contractDeliveryPlaceCommentInput.form-control(rows='3')
          =contract.deliveryPlaceComment
    #contract-accordion
      h3 Sopimus
      - var count = 0;
      each text, header in terms
        .card
          .card-header
            h5
              button.btn.btn-link(data-toggle='collapse', data-target='#contract-section-'+count, aria-expanded='true', aria-controls='contract-section-'+count)
                =header
          .collapse.show(id='contract-section-'+count, data-parent='#contract-accordion')
            .card-body
              !=text
        - count++;
    .contract-footer-section
      .row
        .col
          button.btn.btn-default.contract-back-btn TAKAISIN
        .col
          button.btn.btn-default.deny-btn(data-contract=JSON.stringify(contract)) EN HYVÄKSY
        .col
          button.btn.btn-default.accept-btn(data-contract=JSON.stringify(contract)) HYVÄKSYN
      
