h3.contract-detail-header
  =contract.itemGroup.displayName || contract.itemGroup.name
.contract-details-content
  .details-container
    .contract-details-section
      if contract.itemGroup.category === 'FROZEN'
        p
          b Pakkasmarja Oy:n ja viljelijän sopimus pakastukseen toimitettavista marjoista ja niiden hinnoista satokaudella #{(new Date()).getFullYear()}.
      else
        p 
          b Pakkasmarja Oy:n ja viljelijän sopimus tuoremarjakauppaan toimitettavista marjoista.
    .contract-details-parties
      h3 Osapuolet
      .row
        .col
          b Viljelijä
          br
          span
            if contract.contact.businessCode
              =contract.contact.companyName || contract.contact.firstName + ' ' + contract.contact.lastName
              br
              ='( ' +contract.contact.businessCode+ ' ) '
            else
              =contract.contact.companyName || contract.contact.firstName + ' ' + contract.contact.lastName
        .col
          b Yhtiö
          br
          span Pakkasmarja Oy 
            br
            |( 0434204-0 )
    .contract-details-section
      if contract.itemGroup.category === 'FROZEN'
        if activePrices.length > 0
          h3 Takuuhinnat
          p Ostettavien marjojen 
            b
              i
                =contract.itemGroup.displayName || contract.itemGroup.name
            |, takuuhinnat satokaudella #{(new Date()).getFullYear()}.
          each activePrice in activePrices
            .row.prices-row
              .col-7
                p
                  b
                    =activePrice.group
              .col
                p
                  b
                    =activePrice.price +' '+activePrice.unit
          if pastPrices.length > 0
            p
              a.past-prices-btn(href='#', data-past-prices=JSON.stringify(pastPrices))
                i.fa.fa-info-circle
                | edellisten vuosien takuuhinnat
          if contract.itemGroup.name === '304100/Mansikka' || contract.itemGroup.name === '309100/Luomu mansikk'
            p Takuuhinnan lisäksi yhtiö maksaa viljelijälle bonusta sopimuksen täyttöasteen mukaisesti. Lisätietoja sopimuksen kohdasta Sopimuksen mukaiset toimitusmäärät, takuuhinnat ja bonus satokaudella 2018.
            p Sopimusmäärän ylittävältä osalta mahdollinen lisämäärä, mahdollinen bonus ja maksuehto neuvotellaan aina erikseen.
            p Kaikki hinnat ovat vähimmäishintoja ja ALV 0%. Toimitusehto on vapaasti yhtiön osoittaman pakastevaraston laiturilla (viljelijä maksaa rahdin). Yhtiöllä on oikeus markkinatilanteen vaatiessa korottaa hintoja haluamallaan tavalla.
            p Takuuhinnan maksuehto on viljely- ja ostosopimuksen mukainen. Bonukset tarkistetaan satokauden jälkeen, yhtiö tekee niistä ostolaskut bonukseen oikeutetuille viljelijöille ja ne pyritään maksamaan satovuoden joulukuussa. Bonusta ei makseta, jos sopimus on tehty 31.5. jälkeen.
          else if contract.itemGroup.name === '304400/Mustaherukka' || contract.itemGroup.name === '309300/Luomu mustahe'
            p Tarkistathan sopimusehdoista kohdasta Sopimuksen mukainen toimitusmäärä ja takuuhinta satokaudella muut hintaan vaikuttavat tekijät.
            p Sopimusmäärän ylittävältä osalta mahdollinen lisämäärä, hinta ja maksuehto neuvotellaan aina erikseen.
            p Kaikki hinnat ovat vähimmäishintoja ja ALV 0%. Toimitusehto on vapaasti yhtiön osoittaman pakastevaraston laiturilla (viljelijä maksaa rahdin). Yhtiöllä on oikeus markkinatilanteen vaatiessa korottaa hintoja haluamallaan tavalla.
            p Takuuhinnan maksuehto on viljely- ja ostosopimuksen mukainen.
          else
            p Sopimusmäärän ylittävältä osalta mahdollinen lisämäärä, hinta ja maksuehto neuvotellaan aina erikseen.
            p Kaikki hinnat ovat vähimmäishintoja ja ALV 0%. Toimitusehto on vapaasti yhtiön osoittaman pakastevaraston laiturilla (viljelijä maksaa rahdin). Yhtiöllä on oikeus markkinatilanteen vaatiessa korottaa hintoja haluamallaan tavalla.
            p Takuuhinnan maksuehto on viljely- ja ostosopimuksen mukainen.
      else
        h3 Tuoremarjojen hinnoittelu
        ul
          li Vähimmäislaatuvaatimukset täyttävästä tuoremarjasta yhtiö maksaa päivän hinnan.
          li Yhtiö voi huomioida max. 0,20 eur Alv 0%/ kg -suuruisella bonuksella BONUS-laatuiset marjat.
          li Tunneli-/ kasvihuonetuotannosta ostettavalle marjalle pyritään maksamaan korkeampi päivän hinta.
          li Jos marjaerä ei täytä yhtiön vähimmäislaatuvaatimuksia neuvotellaan erän hinnasta aina erikseen viljelijän kanssa.
          li Yhtiö voi myös maksaa kyseisellä viikolla toimittaneille viljelijöille lisäbonuksen hyvin onnistuneen sopimusyhteistyön johdosta.
    .contract-details-section
      h3 Määrä
      if contract.itemGroup.category === 'FRESH'
        p Tuoremarjasopimuksessa sopimusmäärä on aiesopimus, johon molemmat osapuolet sitoutuvat, ellei kyseessä poikkeustilanne.
      .form-group
        label(for='contractAmountInput') Määrä
        input#contractAmountInput.form-control(readonly=activeContract, disabled=activeContract, type='number', value=contract.proposedQuantity, data-contract-quantity=contract.contractQuantity)
      .form-group
        p 
          |Pakkasmarjan ehdotus: 
          b 
            =contract.contractQuantity + ' kg'
      if pastContracts.length > 0
        p
          a.past-contracts-btn(href='#', data-past-contracts=JSON.stringify(pastContracts))
            i.fa.fa-info-circle
            | edellisten vuosien sopimusmäärät ja toimitusmäärät
      if contract.allowDeliveryAll
        .form-check
          input#deliverAllCheckBox.form-check-input(readonly=activeContract, disabled=activeContract, type='checkbox', checked=contract.deliverAll)
          label.form-check-label(for='deliverAllCheckBox') Haluaisin toimittaa kaiken tilallani viljeltävän sadon tästä marjasta Pakkasmarjalle pakastettavaksi ja tuorekauppaan (lisätietoja sopimuksen kohdasta 100 % toimittajuus).
      .form-group
        label(for='contractQuantityCommentInput') Kommentti
        textarea#contractQuantityCommentInput.form-control(readonly=activeContract, disabled=activeContract, rows='3')
          =contract.quantityComment
    if contract.itemGroup.category === 'FROZEN'
      .contract-details-section
        h3 Tuotannossa olevat hehtaarit
        .row
          .col
            - var minimumProfit = contract.itemGroup.minimumProfitEstimation ? contract.itemGroup.minimumProfitEstimation : null;
            table.hectare-table(data-minimum-profit=minimumProfit)
              thead
                tr
                  th Lohko/Lohkot
                  th Pinta-ala (ha)
                  th Lajike/Lajikkeet
                  if !contract.itemGroup.minimumProfitEstimation
                    th Tuottoarvio (kg / ha)
              tbody
                if contract.areaDetails.length > 0
                  each areaDetail in contract.areaDetails
                    tr
                      td
                        input.form-control(readonly=activeContract, disabled=activeContract, type='text', name='name', value=areaDetail.name)
                      td
                        input.form-control(readonly=activeContract, disabled=activeContract, type='number', name='size', step='0.1', min='0', value=areaDetail.size)
                      td
                        input.form-control(readonly=activeContract, disabled=activeContract, type='text', name='species', value=areaDetail.species)
                        if contract.itemGroup.minimumProfitEstimation
                          input(type='hidden', name='profitEstimation', value=areaDetail.profitEstimation)
                      if !contract.itemGroup.minimumProfitEstimation
                        td
                          input.form-control(readonly=activeContract, disabled=activeContract, type='number', name='profitEstimation', min='0', value=areaDetail.profitEstimation)  
                else if !activeContract
                  tr
                    td
                      input.form-control(type='text', name='name')
                    td
                      input.form-control(type='number', name='size', step='0.1', min='0')
                    td
                      input.form-control(type='text', name='species')
                      if contract.itemGroup.minimumProfitEstimation
                        input(type='hidden', name='profitEstimation', value=contract.itemGroup.minimumProfitEstimation)
                    if !contract.itemGroup.minimumProfitEstimation
                      td
                        input.form-control(type='number', name='profitEstimation', min='0')
      .row
        .col
          if !activeContract
            button.btn.btn-default.add-hectare-row-btn LISÄÄ RIVI
        .col
        .col
      .row
        .col
          p.hectare-table-information
    .contract-details-section
      h3 Toimituspaikka
      select#contractDeliveryPlaceInput.form-control(readonly=activeContract, disabled=activeContract, data-contract-delivery-place-id=contract.deliveryPlaceId)
        each deliveryPlace in deliveryPlaces
          option(value=deliveryPlace.id, selected=contract.proposedDeliveryPlaceId===deliveryPlace.id)
            =deliveryPlace.name
      .form-group
        br
        p 
          |Pakkasmarjan ehdotus: 
          each deliveryPlace in deliveryPlaces
            if deliveryPlace.id===contract.deliveryPlaceId
              b
                =deliveryPlace.name
      .form-group
        label(for='contractDeliveryPlaceCommentInput') Kommentti
        textarea#contractDeliveryPlaceCommentInput.form-control(readonly=activeContract, disabled=activeContract, rows='3')
          =contract.deliveryPlaceComment
    #contract-accordion
      h3 Sopimus
      - var count = 0;
      each text, header in terms
        .card
          .card-header
            h5
              button.btn.btn-link(data-toggle='collapse', data-target='#contract-section-'+count, aria-expanded='true', aria-controls='contract-section-'+count)
                =header
          .collapse.show(id='contract-section-'+count, data-parent='#contract-accordion')
            .card-body
              !=text
        - count++;
    .contract-footer-section
      if activeContract
        .download-pdf-container
          a.download-contract-btn(href='#', data-contract-id=contract.id) Lataa sopimus PDF - muodossa.
      .row
        .col.contract-back-btn-container
          button.btn.btn-default.contract-back-btn TAKAISIN
        if !activeContract
          .col
            button.btn.btn-default.deny-btn(data-contract=JSON.stringify(contract)) EN HYVÄKSY
          .col
            button.btn.btn-default.accept-btn(data-contract=JSON.stringify(contract)) HYVÄKSYN
      
