li.news-open-btn.media.item-row.news-item(data-id=id, data-title=title, data-created=created, data-modified=modified, data-contents=contents, data-image=image, class=read ? 'read' : 'unread')
  .media-body
    h5.mt-0.mb-1
      =title
    small
      span.news-item-created
        =createdFormatted
      if created !== modified
        br
        span.news-item-modified
          ='Muokattu: ' + modifiedFormatted
    small.new-text
      |Uusi